.nav a {
  color: #5a5a5a;
}

.nav li {
  display: inline;
}

.nav {
	background-color: #f7f7f7;
}

.content {
	padding: 20px;
}

.article h3 {
  text-align: center;
}

.post-list {
  display: block;
}
