<!DOCTYPE html>
<!-- i see you looking. hit me up if you like what you see! -->

<html>

<head>
  <meta charset="UTF-8">

  <!-- tells mobile device to scale page -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>

<body>
  <div class="nav">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="pull-left"><a href="/">home</a></li>
        <li class="pull-left"><a href="/about">about</a></li>

        <li class="pull-right"><a href="https://github.com/sudoprime">github</a></li>
        <li class="pull-right"><a href="https://twitter.com/sudoprime">twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="container">
<!-- content --------------------------------->
{{ content }}
<!-------------------------------------------->
    </div>
  </div>
</body>

</html>
